<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="blog-content">
        <h2>All Blogs</h2>
        <p>This is P1</p>
        <p>This is P2</p>
        <p>This is P3</p>
    </div>
</body>
</html>

<%- include('./partials/footer.ejs') %>